@charset "UTF-8";

/* ----- custom font ----- */
@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----- end custom font ----- */

/* ----- default styles ----- */
.hidden {
  display: none;
}
body { background-image:url(../images/grungeBG.jpg);
	background-repeat:no-repeat; background-position:center center;
	background-color:#000000; font-size:16px; }

h1 {
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}
h2 {
  font-family: 'GOT_font';
	color:white;
  margin-bottom: 20px;
	font-size:2em;
}
main {
	position:relative;
	width:100%;
	text-align:center;
	top:30px;
}

#imageContainer {
	width:600px;
	height:360px;
	background-color:grey;
	margin:0 auto;
	overflow:hidden;
}

#houseImages { position:relative; width:5500px; transition: all 1.5s; }
#houseImages img { float:left; }

#bottomNav { margin-top:30px; }

#navList li {
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}

/* ----- end default styles ----- */

/* ----- image sprite ----- */
.sigilContainer {
	width:51px;
	height:54px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/GOT_sprites2.png);
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark { background-position:0px -54px; }
.stark:hover { background-position:0px 0px; }

.baratheon { background-position:-52px -54px; }
.baratheon:hover { background-position:-52px 0px; }

.lannister { background-position:-103px -54px; }
.lannister:hover { background-position:-103px 0px; }

.tully { background-position:-153.5px -54px; }
.tully:hover { background-position:-153.5px 0px; }

.greyjoy { background-position:-204px -54px; }
.greyjoy:hover { background-position:-204px 0px; }

.arryn { background-position:-254.5px -54px; }
.arryn:hover { background-position:-254.5px 0px; }

.targeryen { background-position: -305px -54.5px; }
.targeryen:hover { background-position: -305px 0px; }

.frey { background-position: -357px -54.5px; }
.frey:hover { background-position: -357px 0px; }

.tyrell { background-position: -409px -54.5px; }
.tyrell:hover { background-position: -409px 0px;}
/* ----- end image sprite ----- */

/* ----- classes for transitions ----- */

.scaleUp {
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp {
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/* add styles here for lightbox and video */
.lightbox {
  position: absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  display: none;
  /* eventually we'll hide it by default
  display: none;
  */
}

.show-lightbox {
  display: block;
  height: 200vh;
}
.close-button {
	color: white;
	font-size: 2em;
	padding: 10px;
	float: right;
	padding-right: 30px;
	padding-top: 20px;
	cursor: pointer;
}
video {
	width: 80%;
	margin-top: 10%;
  margin-left: 5%;
	border: thin solid #949393;
  cursor: pointer;
}

.house-info {
  font-size: 1.25em;
  color: white;
  line-height: 1.5;
  width: 75%;
  margin: 1.5em auto 0;
}
#timeBar {
  width: 40%;
}
.vid-controls {

  background: linear-gradient(90deg, rgba(93,93,93,1) 0%, rgba(190,190,190,1) 100%);
  width: 79.5%;
  margin-left: 10%;
  padding: 10px 5px;
}
button {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
button:hover {
  background-color: #94bbe9;

}
